<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AppGestionImmo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ImmeubleServlet</display-name>
    <servlet-name>ImmeubleServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.ImmeubleServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmeubleServlet</servlet-name>
    <url-pattern>/ajouter-immeuble</url-pattern>
    <url-pattern>/immeuble</url-pattern>
    <url-pattern>/nouveau-appartement</url-pattern>
    <url-pattern>/ajouter-appartement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppartementServlet</display-name>
    <servlet-name>AppartementServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.AppartementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppartementServlet</servlet-name>
    <url-pattern>/appartement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurServlet</display-name>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationServlet</display-name>
    <servlet-name>LocationServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.LocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationServlet</servlet-name>
    <url-pattern>/location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageAppServlet</display-name>
    <servlet-name>ImageAppServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.ImageAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageAppServlet</servlet-name>
    <url-pattern>/imageApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterAppartementServlet</display-name>
    <servlet-name>AjouterAppartementServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.AjouterAppartementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAppartementServlet</servlet-name>
    <url-pattern>/ajout-appartement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocataireServlet</display-name>
    <servlet-name>LocataireServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.LocataireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocataireServlet</servlet-name>
    <url-pattern>/locataire</url-pattern>
    <url-pattern>/louer</url-pattern>
    <url-pattern>/appartement-dispo</url-pattern>
    
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietaireServlet</display-name>
    <servlet-name>ProprietaireServlet</servlet-name>
    <servlet-class>sn.isi.dev.web.ProprietaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietaireServlet</servlet-name>
    <url-pattern>/proprietaire</url-pattern>
  </servlet-mapping>
</web-app>